body {
	background-color: #eef;
	font-family: 'helvetica neue', helvetica, sans-serif;
}

#main {
	width: 95%;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;
	background: #fff;
	border: 1px solid black;
}

#footer {
	width: 95%;
	margin: auto;
	background: #fff;
	border: 1px solid black;
}

#footer p {
	margin: 3px 5px;
	font-size: 0.75em;
}